@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  background :#f2f2f2;
  font-family:"Roboto Condensed";

}

a{
  color:#333;
  text-decoration: none;
  font-stretch:10%;

}

.content {
  margin: 0 auto;
}

nav{
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #333;
}

nav .navBarHead{
  font-weight:bold;
  font-size:1.5rem;
}

nav .navBarLinks a{
  font-size:1.5rem;
  margin-left:50px;
}

footer{
  padding: 30px 0;
  margin-top:60px;
  border-top:1px solid #333;
}

footer .footerContent{
  max-width: 300px;
  margin:auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
footer .footerContent .footItem{
  margin:auto;
}
footer .footerContent .footItem a{
  padding:0 5px;
}

