@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  background :white;
  font-family:"Roboto Condensed";
  margin:0 0;
}

a{
  color:#333;
  text-decoration: none;
  font-stretch:10%;
}

.content {
  margin: 0 auto;
}
input[type="text"]
{
    font-family:'Roboto Condensed';
    font-size:1rem;
}
canvas{
  width: 135px;
  height :135px;
  image-rendering: pixelated;

}

input[type=checkbox] {
  cursor: pointer;
  border:0;
  width:15px;
  height:15px;
  top: 0;
  left: 0;
  opacity:100%;
  background-color:#333
}

input[type=checkbox] :hover {
  background-color: #2196F3;
}

nav{
  margin: 0 auto 80px;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  border-bottom: 2px solid black;

}

nav .navBarHead{
  font-weight:bold;
  font-size:1.5rem;
}
nav .navBarLinks{
  font-size:1.5rem;
}

nav .navBarLinks a{
  font-size:1.3rem;
  margin-left:25px;
  color: black;
    padding-bottom: 3px;
}
nav .navBarLinks a:hover{
    border-bottom: #6e7cfc solid 2px;
}



footer{
  padding: 30px 0;
  margin-top:60px;
  border-top:1px solid #333;
}

footer .footerContent{
  max-width: 300px;
  max-height:500px;
  margin:auto;
  display: flex;
  grid-template-columns: 1fr 1fr;

}
footer .footerContent .footItem{
  margin:auto;
}
footer .footerContent .footItem a{
  padding:0 5px;
  color:blue;
}

@media (max-width: 550px) {
  nav .navBarLinks a{
    margin-left:25px;
  }
}

@media (max-width: 1200px) {
  canvas{
    min-width: 100px;
  }
}