.container {
    padding: 8px;
  }
  
.header {
    margin:80px auto 80px;
    text-align:center;
    font-size:1rem;
}


.gridContainer{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gridBox {
    border-radius:2%;
    width:270px;
    flex :1;
    margin:10px 10px;
    box-shadow:0px 0px 10px 5px rgb(206, 206, 206);
  }
  .gridBoxTop h3{
    text-align: center;
    vertical-align:text-bottom;
    padding:10px 10px;
    font-size:1rem;
  }
  
  
  .gridBoxTop{
    background :#f2f2f2;
    border-top-left-radius: 5%;
    border-top-right-radius:5%;
    flex:0 70%;
    display: flex;
    justify-content:space-between;


  }
  .gridBoxTop button{
    color:white;
    font-family:"Roboto Condensed";
    font-size:1rem;
    margin:17px 10px;
    padding:5px 10px;
    border-radius: 8%;
    border: 1px solid #6e7cfc;
    background-color:#6e7cfc;
  }
  
  .gridBoxTop button:hover{
    border: 1px solid #4052f7;
    background-color:#4052f7;
    cursor:pointer;
  }
  .gridBoxTop button:active{
    border: 1px solid #273cf8;
    background-color:#273cf8;
  }
  
  .square{
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    height:200px;
    display:flex;
  }
  .square canvas{
    background-size:cover;
    margin:auto;
  }

  @media (max-width: 1200px) {
    .gridContainer {
      flex-direction:row;
      flex-wrap:wrap;
      justify-content: center;
    }
    .gridContainer .gridBox {
      min-width: 320px;
    }

  }
    @media (max-width: 720px) {
      .gridContainer {
        flex-direction:column;
        flex-wrap:wrap;
      }
    
  }