
.container {
  padding: 8px;
}

.header {
  text-align:center;
}


.gridContainer{
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.gridBox {
  border: 1px solid black;
  border-radius:2%;
  flex :0 20%;
  margin:10px 10px;
  box-shadow:0px 0px 3px 1px lightgrey;
}
.gridBoxTop h3{
  text-align: center;
  vertical-align: text-top;
  padding:0 10px;
}

.gridBoxTop{
  background :#f2f2f2;
  border-radius:5%;
  flex:0 70%;
  display: flex;
  justify-content:space-between;
}
.gridBoxTop button{
  color:white;
  font-family:"Roboto Condensed";
  font-size:1rem;
  margin:17px 10px;
  padding:5px 10px;
  border-radius: 8%;
  border: 0px;
  background-color:#5767f5;
}

.gridBoxTop button:hover{
  background-color:#4052f7;
  cursor:pointer;
}
.gridBoxTop button:active{
  background-color:#3246fa;
}

.square{
  background-color:lightgrey;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  height:200px;
}

@media (max-width: 1200px) {
  .gridContainer {
    flex-direction:column;
    flex-wrap:wrap;
  }
  .gridContainer .gridBox {
    width: 40%;
  }
}
  @media (max-width: 720px) {
    .gridContainer {
      flex-direction:column;
      flex-wrap:wrap;
    }
    .gridContainer .gridBox {
      width: 50%;
    }
}